@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --bg : #F4F9F9;
  --color: #CCF2F4;
  --color-2: #A4EBF3;
  --color-3: #AAAAAA;
}

* {
  font-family: 'Quicksand', sans-serif;
}
.font-bold {
  font-weight: 700;
}
body {
  background: var(--bg);
}
.hero-text {
  font-size: 4rem;
  font-weight: 900;
}

.nav {
  background: #fff);
  padding: 1rem;
}

.nav>span {
  font-weight: 700;
  font-size: 1.5rem;
}

.input-search {
  height: 2.5rem;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #AAAAAA;

}
.btn-search {
  background: #AAAAAA;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  padding: .4rem 1rem;
}
.btn-search:hover {
  background: #7c7c7c;
}